.navbar-instagram {
  justify-content: space-between;
  background: white;
  padding: 0.2rem 10rem;
  border-bottom: 1px solid #dbdbdb;
  .navbar-nav {
    .nav-link-icons {
      width: 20px;
    }
  }
}

.navbar-instagram .navbar-collapse {
  flex-grow: 0;
}

.navbar-instagram .navbar-brand img {
  width: 100px;
}
